extends ../layout 

block content
    h2 Research Awards Recipients
    table(align="center")
            tr(class="row-headers")
                th Date
                th Name - Click for Press Release
                th Author
            each award in awards
                tr
                    th= award.Press_Release_Date__c
                    th
                        a(href="#{award.Press_Release_Link__c}") #{award.Name}
                    th= award.Public_Author_Name__c
                