extends ../layout  

block content
    div(class="workshop-buttons")
        a(href="http://167.99.63.41/education/discover/" target="_blank")
            img(src="/images/DiscoverButton.png", alt="Discover Excellence")
        a(href="http://167.99.63.41/education/systems/" target="_blank")
            img(src="/images/SystemsButton.png", alt="Systems Design")
        a(href="http://167.99.63.41/education/enable/" target="_blank")    
            img(src="/images/EnableButton.png", alt="Cultural Enablers")
        a(href="http://167.99.63.41/education/improve/" target="_blank")    
            img(src="/images/ImproveButton.png", alt="Continuous Improvement")
        a(href="http://167.99.63.41/education/align/" target="_blank")    
            img(src="/images/AlignButton.png", alt="Enterprise Alignment")
        a(href="http://167.99.63.41/education/build/" target="_blank")    
            img(src="/images/BuildButton.png", alt="Build Excellence")