extends ../layout  

block content
    div(class="workshop-buttons")
        a(href="http://167.99.63.41/education/discover/")
            img(src="/images/DiscoverButton.png", alt="")
        a(href="http://167.99.63.41/education/systems/")
            img(src="/images/SystemsButton.png", alt="")
        a(href="http://167.99.63.41/education/enable/")    
            img(src="/images/EnableButton.png", alt="")
        a(href="http://167.99.63.41/education/improve/")    
            img(src="/images/ImproveButton.png", alt="")
        a(href="http://167.99.63.41/education/align/")    
            img(src="/images/AlignButton.png", alt="")
        a(href="http://167.99.63.41/education/build/")    
            img(src="/images/BuildButton.png", alt="")