extends ../layout  

block content
    div(class="workshop-buttons")
        a(href="http://shingo.org/education/discover/" target="_parent")
            img(src="/images/DiscoverButton.png", alt="Discover Excellence")
        a(href="http://shingo.org/education/systems/" target="_parent")
            img(src="/images/SystemsButton.png", alt="Systems Design")
        a(href="http://shingo.org/education/enable/" target="_parent")    
            img(src="/images/EnableButton.png", alt="Cultural Enablers")
        a(href="http://shingo.org/education/improve/" target="_parent")    
            img(src="/images/ImproveButton.png", alt="Continuous Improvement")
        a(href="http://shingo.org/education/align/" target="_parent")    
            img(src="/images/AlignButton.png", alt="Enterprise Alignment")
        a(href="http://shingo.org/education/build/" target="_parent")    
            img(src="/images/BuildButton.png", alt="Build Excellence")