extends layout  

block content
    div(style="text-align: center;")
        h1 Shingo Website Web Components
        div
            each route in routes
                a(href=route)
                    p= route
            
        
