doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- utils scripts
    script(src="/javascripts/workshopUtils.js")
    meta(Access-Control-Allow-Origin: true)
  body
    block content
