doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- utils scripts
    script(src="/javascripts/workshopUtils.js")
    script(src="https://shingo.org/wp-content/plugins/advanced-iframe/js/ai_external.js")
  body
    block content
