extends ../layout 

block content
    div(style="text-align: center;")
        ul(class='affiliate-list')
        each affiliate in affiliates
            a(href='https://shingo.org/affiliates/#{affiliate.Id}' target="_parent")
                li(class='affiliate-card')
                    div
                        img(src="#{affiliate.Logo__c}")
                        p 
                            h3 #{affiliate.Name}
                            b LANGUAGES: 
                            p #{affiliate.Languages__c}
                    p(class="affiliate-link") Learn More