extends ../layout 

block content
    div(style="text-align: center;")
        ul(class='affiliate-list')
        each affiliate in affiliates
            li(class='affiliate-card')
                div
                    img(src="#{affiliate.Logo__c}")
                    p 
                        h3 #{affiliate.Name}
                        b LANGUAGES: 
                        p #{affiliate.Languages__c}
                a(href='http://167.99.63.41/affiliates/#{affiliate.Id}' target="_parent")
                    p Learn More