/* PARTIALS */

div.workshop-buttons {
    text-align: center;
  }
  
  div.workshop-buttons img {
    width: 150px;
    margin: 15px 15px;
  }
  
  div.workshop-buttons img:hover {
    border: 5px solid #3793e3;
    border-radius: 100px;
    width: 140px;
  }
  
  @media only screen and (max-width: 650px) {
    div.workshop-buttons img {
      width: 110px;
    }
  
    div.workshop-buttons img:hover {
      border: 5px solid #3793e3;
      border-radius: 100px;
      width: 100px;
    }
  }