@import "workshops.css";
@import "events.css";
@import "award&about.css";
@import "partials.css";
@import "presentations.css";

/* GENERAL STYLES */

body { 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 100;
  color: #333;
}

h2{
  font-size: 25px;
  font-weight: 100;
  color: #333;
}

a {
  color: #3da9f4;
  text-decoration: none;
}

a:hover {
  color: #f99800;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ERROR PAGE */

div.error-message {
  text-align: center;
}

div.error-message h2 {
  display: inline;
  color: #888;
}

div.error-message a {
  display: inline;
  font-size: 25px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
