extends ../layout  

block content
    div(class="presentations")
        h1= conference
        if(files)
            each file in files
                a(href="#{file.file}")
                    p= file.name
        else
            p No files to download. Please check back later...