extends ../layout 

block content
    ul(class="profile-pic-list")
        each member in members
            li
                img(src="#{member.Photograph__c}" class="profile-pic")
                div(class="staff")
                    h2= member.Name
                    h3= member.Title
                    h3= member.Account.Name
                a(href="/about/seab/" + member.Id)
                    p About >>
                