extends ../layout 

block content
    table(align="center")
            tr(class="row-headers")
                th Name
                th Title
                th Company
            each alumniMember in alumni
                tr
                    th= alumniMember.Name
                    th= alumniMember.Title
                    th= alumniMember.Account.Name